#HomeHeader{
  background-color: #12a5d4;
  border: 3px dashed #fda917;
  margin: 25px;
  padding: 25px;
}
#HomeHeader2{
  background-color: #d40fd4;
  border: 3px dashed #0b6d0f;
  margin: 25px;
  padding: 25px;
}
